<%- include('includes/header.ejs') %>
<%- include('includes/bootstrap.ejs') %>
<head>
    <title>OK?</title>
</head>
<body>
    <br>
    <div class="d-flex justify-content-center">
        <form class="d-flex align-items-center" action='https://www.youtube.com/watch?v=' method='GET'>
            <fieldset class="nes-container with-title">
                <p class="title">Is this OK?</p>
                <ul class="nes-list is-circle">
                    <li class = 'element'>Character: <%= character %></li>
                    <li class = 'element'>Kart: <%= kart %></li>
                    <% if(from == 'versus'){ %>
                        <li class = 'element'>Track: <%= map %></li>
                    <% }  else {%>
                        <li class = 'element'>Map: <%= map %></li>
                    <% } %> 
                </ul>
            </fieldset>
            <ul class="align-self-end">
                <input type="hidden" name="v" value='<%= redirect %>'>
                <button class="nes-btn is-primary" type='submit'><span class="confirm" >GO!</span></button>
                <br>
                <br>
                <a href='/logout' class="nes-btn is-error"><span id='exit' class="confirm">Exit</span></a>
            </ul>
        </form>
    </div>
</body>