<%- include('includes/header.ejs') %>
<head>
    <title>Select your Kart!</title>
</head>
    <body>
    <br>
    <ul>
        <form action='/<%= from %>/mapSelect' method='POST'>
            <fieldset class="nes-container with-title">
                <p class="title">Select your kart:</p>
                <% for (let kart of karts) { %>
                    <label>
                        <input type='radio' class="nes-radio" id='<%= kart.kartID %>' name='kart' value='<%= kart.name %>' checked>
                        <span class='element' for='<%= kart.kartID %>'><%= kart.name %></span>
                    </label>
                    <br>
                <% } %>
            </fieldset>
            <br>
            <ul>
                <button class="nes-btn is-primary" type='submit'><span class="confirm" >OK!</span></button>
            </ul>
        </form>
    </ul>
</body>