<%- include('includes/header.ejs') %>
<%- include('includes/bootstrap.ejs') %>
<body class="p-3 mb-2 bg-primary-subtle text-emphasis-primary cursor">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="col-4 text-center">
                    <% if (perks.indexOf('crear_personajes') >= 0) { %>
                        <button type="button" class="btn btn-info" id = "addChar"></button>
                    <% } %>
                </div>
            </div>
            <div class="col">
                <h1 class="display-1">Personajes</h1>
            </div>
            <div class="col"> </div>
        </div>
    </div>
    <div>
        <% if (characters.length > 0) { %>
            <div class="container text-center">
                <% let columns = 0; %>
                <% for(let character of characters) { %>
                    <% if (columns == 0) { %>
                            <div class="row">
                        <% } %>
                    <% if (columns < 4) { %>
                        <div class="col">
<% /* ---------------------------------------------------------------------- */ %>
            <%    /* cartas de personaje */   %>
                            <div class="card">
                                <img src="<%= character.image %>" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title"><%= character.name %></h5>
                                    <h5 class="card-title">Speed: <%= character.speed %></h5>
                                    <h5 class="card-title">Acceleration: <%= character.acceleration %></h5>
                                    <h5 class="card-title">Weight: <%= character.weight %></h5>
                                    <h5 class="card-title">Handling: <%= character.handling %></h5>
                                    <h5 class="card-title">Traction: <%= character.traction %></h5>
                                    <h5 class="card-title">Miniturbo: <%= character.miniturbo %></h5>
                                </div>
                            </div>
<% /* ---------------------------------------------------------------------- */ %>
                        </div>
                        <% columns += 1; %>
                    <% } else { %>
                                <div class="card">
                                    <img src="<%= personaje.imagen %>" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= personaje.nombre %></h5>
                                        <h5 class="card-title">Elemento: <%= personaje.elemento %></h5>
                                    </div>
                                </div>
                            </div>
                            <% columns = 0; %>
                    <% } %>
                <% } %>
            </div>
        <% } else { %>
            <div class="container text-center">
                <h2 class="display-2">No hay personajes registrados</h1>
            </div>
            <% } %>
    </div>
    <script src="/js/js2.js"></script>
</body>