<%- include('header.ejs') %>
<head>
    <title>Select Map!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <br>
    <ul>
        <form action='/<%= from %>/confirm' method='POST'>
            <fieldset class="nes-container with-title">
                <p class="title">Select map:</p>
                <% for (let map of maps) { %>
                    <label>
                        <input type='radio' class="nes-radio" id='<%= map.mapID %>' name='map' value='<%= map.name %>' checked>
                        <span class='element' for='<%= map.mapID %>'><%= map.name %></span>
                    </label>
                    <br>
                <% } %>
            </fieldset>
            <br>
            <ul>
                <button class="nes-btn is-primary" type='submit'><span class="confirm" >OK!</span></button>
            </ul>
        </form>
    </ul>
</body>